<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéSLAP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@300&family=Inspiration&family=Play&family=Source+Code+Pro:wght@200;300;400&family=Trispace:wght@100&family=VT323&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{#if user}}
    <header>
        <span class="username">{{user.dataValues.user_name}}</span>
        <span class="level">Level: {{charStats.level}}</span>
        <a href="/leaders">Best PokéSlappers</a>
        <a href="/auth/logout">Log Out</a>
     </header>

    {{else}}
        <header>
        <a href="/"><span>PokéSLAP!</span></a>
        <a href="/leaders">Best PokéSlappers</a>
     </header>

    {{/if}}

    <main>

        {{{body}}}

    </main>

<<<<<<< HEAD
<script src="js/front.js"></script>
=======


>>>>>>> main
</body>
</html>