<div class="leaderboard">
    <h1>Under Construction</h1>
    <h3>Come back later</h3>
    {{!-- {{#each leaders}} --}}
    {{!-- <div class="display-leader">
        <span>slapper <span class="leader-name">{{player.dataValues.user_name}}</span>....</span>
        <span>score: <span class="top-score">{{player.dataValues.level}}</span></span>
    </div> --}}
    {{!-- {{/each}} --}}
</div>