<div class="form-container">
    <form action="/auth/login" method="post">
        <input name="user_name" type="text" class="username" placeholder="enter your username">
        <input name="password" type="password" class="password" placeholder="enter your password">
        <button class="submitBtn">start slappin'</button>
    </form>
</div>