<div class="form-container">
    <form action="/login" method="post">
        <input type="text" class="username" placeholder="enter your username">
        <input type="text" class="password" placeholder="enter your password">
        <button class="submitBtn">start slappin'</button>
    </form>
</div>