<div class="container">
    <form action="" method="post">
        <input type="text" class="username" placeholder="enter your username">
        <input type="text" class="password" placeholder="enter your password">
        <button class="submit_btn">start slappin'</button>
    </form>
</div>