<div class="center-wrapper">

    
    <div class="game-container">
        <div class="player">
            <div class="player-sprite">
                <img src="ash.png" alt="player's sprite">
            </div>
            <div class="player-stats">
                <span class="hp-stat">HP: {{charStats.hp_stat}}</span>
            </div>
        </div>
        <div class="poke">
            <div class="poke-sprite">
                <img src="chuck.png"alt="pokemon sprite">
            </div>
            <div class="poke-stats">
                <span class="hp-stat">HP: {{pokemon.hp_stat}}</span>
            </div>
        </div>
    </div>

</div>
