<div class="register-page-wrapper">

    <div class="reg-container">
        <form action="/auth/register" method="post">

            <input type="text" class="username" name="user_name" placeholder="username of at least 3 characters">
            <input type="password" class="password" name="password" placeholder="password of at least 6 characters">
            <div class="reg-type-container">
                <p>I want to:</p>
                <form id="reg-user-type">
                    <div class="input-rows">
                        <input type="radio" id="defense-type" name="type" value="defense">
                        <label for="defense-type">Block lots of damage</label>
                    </div>
                    <div class="input-rows">
                        <input type="radio" id="attack-type" name="type" value="attack">
                        <label for="attack-type">Inflict lots of damage</label>
                    </div>
                    <div class="input-rows">
                        <input type="radio" id="jackOfAll-type" name="type" value="jackOfAll">
                        <label for="jackOfAll-type">Be well rounded</label>
                    </div>
                </form>
        <button class="submitBtn" >start slappin'</button>
        </form>
    </div>
</div>
</div> 