<div class="register-page-wrapper">

    <div class="reg-container">
        <form action="/auth/register" method="post">

            <input type="text" class="username" name="user_name" placeholder="username of at least 3 characters">
            <input type="password" class="password" name="password" placeholder="password of at least 6 characters">
            <div class="reg-type-container">
                <p>I want to be:</p>
                <form id="reg-user-type">
                    <div class="input-rows">
                        <input type="radio" id="water-type" name="type" value="water">
                        <label for="water-type">Swimming in the ocean</label>
                    </div>
                    <div class="input-rows">
                        <input type="radio" id="fire-type" name="type" value="fire">
                        <label for="fire-type">Standing in a forest fire</label>
                    </div>
                    <div class="input-rows">
                        <input type="radio" id="grass-type" name="type" value="grass">
                        <label for="grass-type">Smellling leaves and plants</label>
                    </div>
                </form>
        <button class="submitBtn" >start slappin'</button>
        </form>
    </div>
</div>
</div> 