<div class="container">
    <form action="" method="post">
        <input type="text" class="username" placeholder="enter a username">
        <input type="text" class="password" placeholder="enter your password">
        
        <form id="reg-user-type">
            <p>I want to be:</p>
            <input type="radio" id="water-type" name="water-type" value="water">
                <label for="water-type">Swimming in the ocean</label>
            <input type="radio" id="fire-type" name="fire-type" value="fire">
                <label for="fire-type">Standing in a forest fire</label>
            <input type="radio" id="grass-type" name="grass-type" value="grass">
                <label for="grass-type">Smellling leaves and plants</label>
        </form>
        <button class="submit_btn">start slappin'</button>
    </form>
</div>