* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: VT323;
}
img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 9px 2%;
  border: solid 2px rgba(0, 0, 0, 0.446);
  border-radius: 4px;
  font-size: 24px;
}

header a {
  text-decoration: none;
  color: rgb(0, 119, 255);

}

header a:hover{
    font-style: italic;
    color: rgb(94, 153, 5);
}

/* index if not logged in */

.login-reg-container {
    background-color: rgba(190, 242, 68, 0.377);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    transform: translateY(70%);
    max-width: 300px;
    font-size: 45px;
    padding: 5%;
    text-align: center;
    border: solid 3px rgba(75, 74, 74, 0.674);
    border-radius: 4px;


}
.login-reg-container a {
    text-decoration: none;
    color: rgb(94, 153, 5);
    padding: 10px;
}

.login-reg-container a:hover {
    color: rgb(68, 141, 0);
    font-style: italic;
}

/* index if logged in! */

.user-wrapper {
  display: flex;
  justify-content: space-around;
}

.user-text {
  margin: 8%;
  margin-left: 3%;
}
.user-text h2 {
  font-size: 50px;
}
.user-text h1 {
  font-size: 40px;
}

.user-text span {
  font-size: 20px;
}

.stats {
  margin: 4px;
  display: flex;
  flex-direction: column;
}

.settings {
  font-size: 30px;
  border: rgba(0, 0, 0, 0.446) 3px dotted;
  border-radius: 5px;
  margin: 2%;
  min-width: 400px;
  max-width: 600px;
  padding: 2%;
  align-self: center;
}

.button-container {
  display: flex;
  margin-top: 5%;
}

#playBtn {
  font-size: 25px;
  margin: auto;
  color: white;
  background-color: rgba(75, 74, 74, 0.674);
  border: none;
  padding: 5px 10px;
  justify-content: center;
}

/* Login page */

.form-container {
    padding: 20px;
    margin: auto;
    transform: translateY(100%);
}

.form-container form {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 400px;
}

.form-container input {
    padding: 6px 8px;
    margin: 1%;
    font-size: 25px;
}

.submitBtn {
    font-size: 25px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(127, 160, 70);
}

.submitBtn:hover {
    font-style: italic;
    background-color: rgb(94, 153, 5);
}

/* register page */

.register-page-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.reg-container {
    width: 500px;
    margin: auto;
}

.reg-container form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.reg-container input {
    padding: 6px 8px;
    margin: 1%;
    font-size: 25px;
}

.reg-type-container {
    width: 400px;
    text-align: center;

}

.reg-type-container p {
    font-size: 25px;
}

.input-rows {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    justify-content: center;
}

.sprite-container {
  display: flex;
  flex-flow: row wrap;
  min-width: 300px;
}

/* .center-wrapper {
  align-content: center;
} */

.game-container {
  border-radius: 10px;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/503/189/157/video-games-pokemon-pixels-pixel-art-wallpaper-preview.jpg);
  background-position: bottom;
  background-repeat: no-repeat; 
  background-size: cover;
  max-width: 800px;
  height: 420px;
  margin: 200px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-container .hp-stat {
  font-size: 28px;
  padding: 2px 10px;
  background-color:rgb(118, 116, 116);
  color: rgb(255, 68, 0);
  border-radius: 6px;
}

.player, .poke {
  margin: 25% 60px;
}

.button-container a {
  text-decoration: none;
  color: white;
}

.player-sprite img {
  width: 175px;
}

.poke-sprite img {
  width: 175px;
}

#slapBtn {
  margin: auto;
  justify-self: center;
}


/* KEYFRAMES */
img:hover {
  animation: shake 0.2s;
  animation-iteration-count: once;
  filter: blur(2px);
  filter: grayscale(40%)
}

@keyframes shake {
  0% { transform: translate(12px, 10px) rotate(2deg); }
  10% { transform: translate(-5px, -9px) rotate(-2deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}